<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <h1>Lightning Pumpkin</h1>
    <p>Node app that consumed Headless Lightning Nightly build.</p>
    <h2>Some blocks (no authentication needed)</h2>
    <% include ../partials/blocks.ejs %>
    <h2>Some Field Definitions (authentication needed)</h2>
  </div>

</body>
</html>
